<p>


<img src ="https://images.pexels.com/photos/265036/pexels-photo-265036.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt = "image" width = 800>

  Si vous avez des difficultés à vous procurer, dans votre pays d’exercice, des œuvres littéraires, sachez qu’il existe sur internet de nombreuses banques de textes, classiques en majorité (ces œuvres sont en effet libres de droit), mais également contemporains à télécharger gratuitement.
  Vous découvrirez ainsi dans ce parcours, récemment mis à jour, les bibliothèques virtuelles et les banques de textes en ligne qui proposent des œuvres littéraires en texte intégral sous différents formats (HTML, PDF, WORD, etc.). Pour compléter ces ressources, nous signalons quelques sites de référence dédiés à des genres littéraires particuliers (poésie, théâtre, contes, nouvelles), proposant de nombreux textes à imprimer ou à télécharger.
  Nous nous sommes attachés, dans cette sélection, à donner une place importante aux sites qui vous permettront de découvrir la littérature d’expression française de tous les continents.

</p>
