

<h1>  {{ajoutCollegue.matricule}}  </h1>

<form (ngSubmit)="submit()" #form="ngForm">

  <label>Matricule</label>
  <input [(ngModel)]="ajoutCollegue.matricule" type = "text"  name = "matricule"  #matricule="ngModel" required minlength="3">

  <label>pseudo</label>
  <input [(ngModel)]="ajoutCollegue.pseudo" type = "text"  name = "pseudo"   #pseudo="ngModel" >

   <label>URLImages</label>
  <input [(ngModel)]="ajoutCollegue.url"  type = "text" name = "url"  #urlimages="ngModel" >
  
  <button type="submit">ajouter</button>
</form>



