
<!-- 
<h1>  {{collegue.pseudo }} </h1>

<form (ngSubmit)="submit(ajoutCollegue.value)" #monForm="ngForm">

  <label>Matricule</label>
  <input [(ngModel)]="collegue.matricule" name = matricule  #matricule="ngModel" required minlength="3">

  <label>pseudo</label>
  <input [(ngModel)]="collegue.pseudo" name = pseudo   #pseudo="ngModel" required>

   <label>URLImages</label>
  <input [(ngModel)]="collegue.url" name = url  #urlimages="ngModel" required>
  
  <button type="submit">ajouter</button>
</form>

-->

