<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Application Top Collégue
  </h1>
  
  <img width="300" alt="Logo"  src="https://static.passeportsante.net/i43195-comment-reconnaitre-un-collegue-toxique-en-5-lecons.jpg">
</div>




   <!-- <app-collegue-component [collegue]="collegue1"></app-collegue-component> -->

<app-bandeau-component> </app-bandeau-component>

<app-liste-collegues-component [listeCollegues] = "listesCollegue">  </app-liste-collegues-component>





<app-historique-votes-component [listevote]  = "listesVote"  >    </app-historique-votes-component>